.pt-200{
  padding-top: 200px;
}

.pt-100{
  padding-top: 100px;
}

.button{
  margin-left: 60px;
  padding: 8px 30px;
  border-radius: 3px;
  background-color: #e77137;
  color: #fff;
}

a:hover{
  text-decoration: none;
}

.bg_blue{
  background-color: $blue_bg;
}

.padding-40{
  padding: 40px 0;
}

#main_content{
  color: white;
}
