header{
  position: fixed;
  padding: 10px;
  z-index: 1;
  height: 100px;
  width: 100vw;
  background-color: #fff;

  & > .header_content{
    position: relative;
    height: 100px;
    width: 100%;
    img{
      float: left;
      height: 80px;
    }

    nav{
      transform: translate(-5%, -50%);
      position: absolute;
      right: 0;
      top: 50%;

      & > .current{
        border-bottom: 2px solid $green;
      }

      a{
        margin-left: 40px;
        font-size: 20px;
      }
    }
  }
}
